<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-laundry-web-app" >
	<tr>
		<td>
			<f:translate key="tx_laundrywebapp_domain_model_deliveryperson.delivery_pid" />
		</td>
		<td>
		{deliveryPerson.deliveryPid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_laundrywebapp_domain_model_deliveryperson.name" />
		</td>
		<td>
		{deliveryPerson.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_laundrywebapp_domain_model_deliveryperson.contactno" />
		</td>
		<td>
		{deliveryPerson.contactno}
		</td>
	</tr>
</table>
</html>
