<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-laundry-web-app" >
	<tr>
		<td>
			<f:translate key="tx_laundrywebapp_domain_model_address.addressid" />
		</td>
		<td>
		{address.addressid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_laundrywebapp_domain_model_address.houseno" />
		</td>
		<td>
		{address.houseno}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_laundrywebapp_domain_model_address.street" />
		</td>
		<td>
		{address.street}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_laundrywebapp_domain_model_address.pincode" />
		</td>
		<td>
		{address.pincode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_laundrywebapp_domain_model_address.state" />
		</td>
		<td>
		{address.state}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_laundrywebapp_domain_model_address.country" />
		</td>
		<td>
		{address.country}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_laundrywebapp_domain_model_address.contactno" />
		</td>
		<td>
		{address.contactno}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_laundrywebapp_domain_model_address.email" />
		</td>
		<td>
		{address.email}
		</td>
	</tr>
</table>
</html>
