<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="street">
	<f:translate key="tx_laundrywebapp_domain_model_address.street" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="street" /><br />
<label for="addressid">
	<f:translate key="tx_laundrywebapp_domain_model_address.addressid" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="addressid" /><br />
<label for="houseno">
	<f:translate key="tx_laundrywebapp_domain_model_address.houseno" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="houseno" /><br />
<label for="pincode">
	<f:translate key="tx_laundrywebapp_domain_model_address.pincode" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="pincode" /><br />
<label for="state">
	<f:translate key="tx_laundrywebapp_domain_model_address.state" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="state" /><br />
<label for="country">
	<f:translate key="tx_laundrywebapp_domain_model_address.country" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="country" /><br />
<label for="contactno">
	<f:translate key="tx_laundrywebapp_domain_model_address.contactno" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="contactno" /><br />
<label for="email">
	<f:translate key="tx_laundrywebapp_domain_model_address.email" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield type="email" property="email" /><br />
</html>