<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-laundry-web-app" >
	<tr>
		<td>
			<f:translate key="tx_laundrywebapp_domain_model_login.email" />
		</td>
		<td>
		{login.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_laundrywebapp_domain_model_login.password" />
		</td>
		<td>
		{login.password}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_laundrywebapp_domain_model_login.type" />
		</td>
		<td>
		{login.type}
		</td>
	</tr>
</table>
</html>
