<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="productid">
	<f:translate key="tx_laundrywebapp_domain_model_product.productid" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="productid" /><br />
<label for="productname">
	<f:translate key="tx_laundrywebapp_domain_model_product.productname" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="productname" /><br />
<label for="itemid">
	<f:translate key="tx_laundrywebapp_domain_model_product.itemid" />
</label><br />
	<f:form.textfield property="itemid" /><br />
<label for="pricecolor">
	<f:translate key="tx_laundrywebapp_domain_model_product.pricecolor" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="pricecolor" /><br />
<label for="pricewhite">
	<f:translate key="tx_laundrywebapp_domain_model_product.pricewhite" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="pricewhite" /><br />
</html>