<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-laundry-web-app" >
	<tr>
		<td>
			<f:translate key="tx_laundrywebapp_domain_model_orderitem.itemid" />
		</td>
		<td>
		{orderitem.itemid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_laundrywebapp_domain_model_orderitem.orderid" />
		</td>
		<td>
		{orderitem.orderid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_laundrywebapp_domain_model_orderitem.productid" />
		</td>
		<td>
		{orderitem.productid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_laundrywebapp_domain_model_orderitem.color" />
		</td>
		<td>
		{orderitem.color}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_laundrywebapp_domain_model_orderitem.quantity" />
		</td>
		<td>
		{orderitem.quantity}
		</td>
	</tr>
</table>
</html>
