<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="customerid">
	<f:translate key="tx_laundrywebapp_domain_model_customer.customerid" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="customerid" /><br />
<label for="title">
	<f:translate key="tx_laundrywebapp_domain_model_customer.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="title" cols="40" rows="15" /><br />
<label for="firstname">
	<f:translate key="tx_laundrywebapp_domain_model_customer.firstname" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="firstname" cols="40" rows="15" /><br />
<label for="surname">
	<f:translate key="tx_laundrywebapp_domain_model_customer.surname" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="surname" cols="40" rows="15" /><br />
<label for="addressid">
	<f:translate key="tx_laundrywebapp_domain_model_customer.addressid" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="addressid" /><br />
</html>