<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="deliveryPid">
	<f:translate key="tx_laundrywebapp_domain_model_deliveryperson.delivery_pid" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="deliveryPid" /><br />
<label for="name">
	<f:translate key="tx_laundrywebapp_domain_model_deliveryperson.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="contactno">
	<f:translate key="tx_laundrywebapp_domain_model_deliveryperson.contactno" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="contactno" /><br />
</html>