<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="itemid">
	<f:translate key="tx_laundrywebapp_domain_model_orderitem.itemid" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="itemid" /><br />
<label for="orderid">
	<f:translate key="tx_laundrywebapp_domain_model_orderitem.orderid" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="orderid" /><br />
<label for="productid">
	<f:translate key="tx_laundrywebapp_domain_model_orderitem.productid" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="productid" /><br />
<label for="color">
	<f:translate key="tx_laundrywebapp_domain_model_orderitem.color" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="color" cols="40" rows="15" /><br />
<label for="quantity">
	<f:translate key="tx_laundrywebapp_domain_model_orderitem.quantity" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="quantity" /><br />
</html>