<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-laundry-web-app" >
	<tr>
		<td>
			<f:translate key="tx_laundrywebapp_domain_model_customer.customerid" />
		</td>
		<td>
		{customer.customerid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_laundrywebapp_domain_model_customer.title" />
		</td>
		<td>
		{customer.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_laundrywebapp_domain_model_customer.firstname" />
		</td>
		<td>
		{customer.firstname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_laundrywebapp_domain_model_customer.surname" />
		</td>
		<td>
		{customer.surname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_laundrywebapp_domain_model_customer.addressid" />
		</td>
		<td>
		{customer.addressid}
		</td>
	</tr>
</table>
</html>
